/* 以下の内容を追加します */

body {
  margin: 0;
  padding: 0;
  font-size: ;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
}
/*top.esstra-ロゴ*/
.img-estra {
  width: 30%;
}
.header-nav {

}
.header-nav-list {
  list-style-type: none;
  display: flex;
  justify-content:flex-end;
}
.header-nav-item {
  font-size: 20px;
  padding: 10px;
}
/*top.main*/
.main {
  position: relative;
}
/*main画像右配置*/
.main-img {
  width: 100%;
  text-align: right;
}
img {
  width: 70%;
}
/*main文章　commit to the*/
.main-title {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  position: absolute;
  top: 80px;
  left: 30px;
  color: #C71585;
}
/*growth.成長のカラー変更*/
span {
  color: #20B2AA;
}
/*sub 全ての人の成長*/
.main-title-sub {
  position: absolute;
  top: 300px;
  left: 30px;
  color: #C71585;
}

/*sub2 educational*/
.main-title-sub2 {
  position: absolute;
  top: 330px;
  left: 30px;
  color: #808080;
  font-weight: lighter;
}

.category-tag {
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 110px;
  margin-top: 100px;
}
.title {
  color: #808080;
  margin-left: 110px;
}

/*top.news*/
.news {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  width: 550px;
}
.news-item {
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.news-info dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #808080;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.news-tag {
  background: #C71585;
  border-radius: 200px;
  width: 100px;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
}
/*end.news*/


.about {
  background: #F5F5F5;
  height: 400px;
  position: relative;
  padding-top: 20px;

}
.category-tag-about {
  color: #C71585;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.about-tag-title {
  text-align: center;
  color: #808080;
}

.card-lave img {
  position: relative;
  width: 30%;
  float: right;
  padding-right: 150px;
  padding-top: 10px;
}
/*about文章*/
.about-tag-title-acticl {
  font-size: 14px;
  line-height: 24px;
  left: 180px;
  position: absolute;
  color: #808080;
}

/*top.service*/
.service {
  width: 80%;
  margin: 0 auto;
}
.servis-card {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr;

}
/*service画像*/
.card-img-1 img {
  width: 25%;
  padding-top: 10px;
  position: relative;
}
.card-img-2 img {
  width:  25%;
  position: relative;
}
.card-img-3 img  {
  width: 25%;
  position: relative;

}
.card-img-1  {
  background: #C71585;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 10px;
  text-align: center;
}
.card-img-2 {
  background: #FF69B4;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px;

}
.card-img-3 {
  background: #DB7093;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
}
/*教育事業*/
.card-cat {
color: #fff;
font-weight: bold;
text-align: center;
}
.card-card {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.card-cat-1 {
  text-align: left;
  color: #fff;
}
/*サンプルテキストがここに入ります*/
.card-content {
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
}
/*end.servis*/


/*top.blog*/
.blog {
  background: #F5F5F5;
  height: 600px;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.category-tag-blog {
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  position: relative;
  left: 50px;
  top: 100px;
}

.title-blog {
  color: #808080;
  left: 50px;
  top: 100px;
  position: relative;

}
.blog-card {
  width: 300px;
  display: inline-block;
}
/*ブログ画像*/
.blog-img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-top: 20px;
}
/*親要素*/
.blog-content {
  background: #fff;
  height: 150px;
  border-radius: 0 0 20px 20px;
  padding: 15px;
}
/*blogラベル*/
.blog-card-cat {
  font-size: 18px;
  padding: 5px 10px;
  margin: 0px　auto;
  color: #fff;
  background: #C71585;
  width: 50px;
  border-radius: 20px 0 0 0;
  position: relative;
  bottom: 235px;
  right: 15px;
}
/*文章ープログラミング学習の~*/
.blog-card-ttl {
  font-size: 18px;
  position: relative;
  bottom: 50px;
  color: #808080;
  line-height: 1.5em;
}
.tag {
  font-size: 14px;
  text-align: center;
  display: inline-flex;
}
/*2021/01/01*/
.card-date {
  padding-right: 20px;
  color: #808080;
  position: relative;
  bottom: 20px;
}
/*COACHTECH*/
.card-tag {
  padding-left: 50px;
  color: #808080;
  position: relative;
  bottom: 20px;
}

/*一覧ページへ*/
.btn {
  width: 200px;
  padding: 20px 0;
  color: #C71585;
  background: #fff;
  text-align: center;
  margin:100px auto 0;
  border-style: solid;
  border-radius: 30px;
  display:block;
  position: relative;
  top: -220px;
}

.category-tag-company {
  font-family: 'Indie Flower', cursive;
  color: #C71585;
  margin-left: 230px;
  margin-top: 30px;
  position: relative;

}
.title-comany {
  color: #808080;
  margin-left: 230px;

}
.company {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}
.table {
  width: 60%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #ccc;
  padding: 20px;
}
.table th {
  font-weight: bold;
  background-color: #dedede;
  text-align: left;
}
/*end.company*/

.ful {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.mv {
  background: url(../img/recruit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 300px;
  width: 100vh;
}
.mv-2 {
  background: url(../img/interview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 300px;
  width: 100vh;
}
/*採用情報*/
.title-1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 120px;
  left: 200px;
}
/*社員インタビュー*/
.title-2 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 120px;
  right: 200px;
}
/* 株式会社estraお問い合わせ　 */
.text {
  padding-top: 50px;
  text-align: center;
  width: 100%;
  display: block;
}

.border {
  margin-left: 550px;
  width: 1px;
  height: 40px;
  background-color: #C71585;
  display: block;
}



.form-btn {
  border-radius: 30px;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  display: block;
  background: #C71585;
  color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 0 #752354;
  display: flex;
  justify-content:space-around;
}
.form-btn img {
  width: 15%;
}
.wrap {
  overflow: hidden;
}


